@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@400;700&family=Poppins:wght@100;300;600&display=swap");

body {
  font-family: "poppins", sans-serif;
  background-color: black;
  color: white;
}
